<div class="container">
<p id="notice"><%= notice %></p>

<%if (params["u"] == "lvz")%>
<h3>Welcome Lazaro</h3>
<%end%>
<br/>

<table class="table .table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Routes</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= post.routes %></td>
      <td><%= post.item %></td>
      <%if (params["u"] == "lvz")%>

      <td><%= link_to 'Show', "/posts/#{post.id}?u="+params["u"] %></td>
      <td><%= link_to 'Edit', edit_post_path(post, :u => params["u"]) %></td>
      <td><%= link_to 'Delete', post, method: :delete, data:
      { confirm: 'Are you sure?' } %></td>

      <%end%>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if (params["u"] == "lvz")%>
<%= link_to 'New Post', new_post_path(:u => params["u"]) %>
<%end%>
</div>
